html {
    font-size: 2vw;
}
  
body {
    background-color: rgba(255, 255, 255, 0.255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8fc66f;
    text-align: center;
    font-weight: 200;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8fc66f;
    color: white;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000;
    margin-bottom: 0; 
    margin-top: 0;
}

input[type="text"] {
    font-size: 1.5vw; 
    font-family: inherit;
}


#user-guess{ 
    border-radius: .5vw;
    width: 10vw;
    height: 2.5vw;
    text-align: center;
}

#title-header{
    margin-bottom: 0;
    font-size: 4.25vw;
    font-weight: 600;
    letter-spacing: .1vw;
    margin-top: 0;
}


  .nav-header {
    margin-top: 0;
    width: 100%;
    position: sticky;
    padding-top: 0vw;
    font-weight: 300;
    text-align: center;
    background-color:  #8fc66f;
}

nav.nav-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
nav.nav-header ul li {
    margin-top: -2vw;
    display: inline;
    margin: 2vw;
    font-size: 2vw;
}
  
  nav.nav-header a {
    text-decoration: none;
    color: white;
}

button{
    font-family: inherit;
    font-size: 1.1vw;
    border-color: #8fc66f;
    border-width: .2vw;
    background-color: white;
    border-radius: 8px;
}

#welcome p{
    color: black;
    text-align: left;
    margin-left: 12vw;
    margin-right: 12vw;
    font-size: 1.5vw;
}
#welcome h1{
    font-size: 3vw;
}

#title h1{
    font-weight: 600;
    letter-spacing: .1vw;
    font-size: 4vw;
    margin-bottom: 0;
}

#anagram-options form{
    margin-top: 0;
    display: inline-block;
}



#scrambled-word-container {
    position: relative;
    left: 2vw; 
    width: 10vw;
    height: 15vw; 
    color: black;
    margin-top: -4vw;
    margin-bottom: 10vw;
    font-size: 4vw;
    font-weight: bold;
}

.letter-box {
    position: absolute;
    width: 6vw;
    height: 6vw;
    border: .25vw solid #8fc66f;
    text-align: center;
    line-height: 6vw;
    border-radius: 50%; 
    margin-top: -1.5vw;
}

#score-box{
    background-color: #8fc66f;
    color: white;
    padding: 0px; 
    font-weight: 500;
    letter-spacing: .05vw;
}
#new-game{
    margin-top: -2.5vw;
}

#generated-word{
    font-weight: 600;
    letter-spacing: .2vw;
    margin-top: -.5vw;
}

#shuffle {
    margin-top: 0;
    padding-top: 0;
}

#user-guess-id{
    margin-top: -1vw;
}

#container {
    display: flex;
    justify-content: space-between;
}


#left-column {
    width: 40%;
    margin-right: 1vw; 
}

#right-column {
    width: 55%; 
    margin-right: 1vw;
    flex: 1;
}

#title {
    padding-top: 4.5vw;
}

#found-words-column {
    display: flex;
    flex-wrap: wrap;
}

#found-words {
    display: flex;
    padding: 0; /* Remove default padding */
    list-style-type: none; /* Remove bullet points */
    
}
#found-words ul {
    color: black;
    display: inline-block;
    margin-right: 3.5vw;
    list-style-type: none; 
    padding: 0;
}

#rules h2{
    font-weight: 400;
}
#rules p{
    color: black;
    font-size: 1.25vw;
    margin-top: -2vw;
}
#rules{
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: left;
}

